/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(33, 90%, 65%);
    --second-color: hsl(355, 90%, 55%);
    --third-color: hsl(198, 90%, 65%);
    --title-color: hsl(0, 0%, 12%);
    --text-color: hsl(0, 0%, 56%);
    --black-color: hsl(0, 0%, 4%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 95%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}

/*=================================== for Header ============================================*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    align-items: center;
}

.nav-logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

.nav-close,
.nav-open {
    /* display: flex; */
    font-size: 1.5rem;
    cursor: pointer;
}

/* Navigations for Mobile Devices */

@media only screen and (max-width: 1023px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--black-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 7rem 1.5rem 2.5rem 4rem;
        transition: left .4s;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

.nav_link {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.nav_link:hover {
    text-decoration: underline;
}

.nav-close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    color: var(--white-color);
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    column-gap: .5rem;
}

.social-icon {
    color: var(--white-color);
    font-size: 1.5rem;
}

.show-menu {
    left: 0;
}
.bg-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}


/*====================================== Home===================================== */
.home_container,
.home_data,
.home-artical,
.home-images,
.home-footer {
    display: grid;
}


.home_container {
    padding-block: 7.5rem 2.5rem;
    row-gap: 1.5rem;
}

.home_data {
    text-align: center;
}

.home-subtitle {
    font-size: var(--small-font-size);
}

.home-titles {
    margin-block: .5rem 2rem;
}

.home_title {
    font-size: var(--biggest-font-size);
    transform: translateY(10rem);
    opacity: 0;
    transition: transform .3s .2s, opacity .3s .2s;
}

.home__btn,
.home-controls,
.home_social,
.home_navigation {
    display: flex;
}

.home__btn {
    justify-self: center;
    column-gap: .5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.home__btn i {
    font-size: 1.25rem;
    transition: transform .4s;
}

.home__btn:hover i {
    transform: translateX(.5rem);
}


.home-artical {
    place-items: center;
    /* align-items: center; */
    width: 270px;
    padding-block: 1rem;
}

.home-card {
    position: relative;
}

.home-circle {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.home-circle-1 {
    background-color: var(--first-color);
}

.home-circle-2 {
    background-color: var(--second-color);
}

.home-circle-3 {
    background-color: var(--third-color);
}

.home_image-1,
.home_image-2 {
    position: absolute;
    width: 200px;
    filter: drop-shadow(0 20px 12px hsla(0 0% 0% .4));
    transition: transform .7s .1s cubic-bezier(.2, .9, .3, 1.3), opacity .3s;
}

.home_image-1 {
    bottom: 7rem;
    left: -1.5rem;
    transform: translateX(-5rem) rotate(60deg);
    opacity: 0;
}

.home_image-2 {
    bottom: 3rem;
    right: -1.5rem;
    transform: translateX(5rem) rotate(60deg);
    opacity: 0;

}


.home-footer {
    row-gap: 3rem;

}

.home-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.home_social {
    justify-content: center;
    column-gap: .5rem;
}

.home_social_link {
    font-size: 1.5rem;
    color: var(--title-color);
}


/* swiper */
.swiper {
    margin-inline: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
}


.swiper-pagination {
    position: static;
    font-weight: var(--font-semi-bold);
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    width: initial;
    height: initial;
    font-size: 1.25rem;
    padding: 3px 20px;

}

.swiper-button-prev {
    background-color: var(--black-color);
    color: var(--white-color);
}

.swiper-button-next {
    background-color: var(--white-color);
    color: var(--black-color);
}

/* Swiper Animation */

.swiper-slide-active .home_title{
   opacity: 1;
   transform: translateY(0)
}

.swiper-slide-active .home-circle{
   opacity: 1;
}

.swiper-slide-active .home_image-1{
  transform: translateX(0) rotate(15deg);
  opacity: 1;
}
.swiper-slide-active .home_image-2{
  transform: translateX(0) rotate(-30deg);
  opacity: 1;
}


/* Scroll Bar */

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0, 0, 70%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0, 60%);
}

/*====================================== BreakPoints===================================== */


/*  for Small Devices*/

@media only screen and (max-width: 330px){
  .container{
    margin-inline:1rem ;
  }
  .home_title{
    font-size: 1.8rem;
  }
  .home-circle{
    width: 220px;
    height: 220px;
  }
  .home_image-1,.home_image-2{
    width: 160px;
  }
  .home_image-1{
    bottom: 6rem;
  }
}



/*  for Medium Devices*/

@media only screen and (min-width: 540px){
    .home-footer{
        margin-inline:1.5rem ;
        grid-template-columns: repeat(2,max-content);
        justify-content: space-between;
    }
    .home-controls{
        flex-direction: row;
        column-gap: 2rems;
    }
    .home_navigation{
        order: -1;
        align-self: flex-end;
    }
    
}


/*  for Large Devices*/

@media only screen and (min-width: 1023px){
    .nav{
        height: calc(var(--header-height) + 2rem );
    }
    .nav-open-btn
    ,.nav-close{
        display: none;
    }
    .nav_link{
        color: var(--title-color);
        font-size: var(--normal-font-size);
    }
    .nav .social-icon{
        color: var(--title-color);
    }
    .social-icons{
        column-gap: 1rem;
    }
    .nav-menu{
        display: flex;
        align-items: center;
        column-gap: 3rem;
    }
    .nav-links{
        flex-direction: row;
        column-gap: 3rem;
    }
}


@media only screen and (min-width: 1150px){
    .container{
        margin-inline: auto;

    }
    .home_container{
        grid-template-columns: 450px 600px;
        grid-template-rows: 470px;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 6rem;
        padding-top: 12rem;
    }
    .home-footer{
        grid-column: 1/3;
        margin-inline: 0;
    }
    .home_data{
        text-align: initial;
    }
    .home-subtitle{
        font-size: var(--normal-font-size);
    }
    .home-titles{
        margin-bottom: 3rem;
    }
    .home__btn{
       justify-self: flex-start;
       z-index: 2;
    }
    .home-images{
        position: absolute;
        top: 9rem;
    }
    .home-card{
        transform: translateX(15rem);
    }
    .home-circle{
        width: 570px;
        height: 570px;
    }
    .home_image-1,.home_image-2{
        width: 420px;
    }
    .home_image-1{
        bottom: 14rem;
        left: -3rem;
        transform: translateX(-25rem) rotate(60deg);
    }
    .home_image-2{
        bottom: 6rem;
        right: -3rem;
        transform: translateX(-25rem) rotate(60deg);
    }
    .swiper-button-next,.swiper-button-prev{
        font-size: 1.5rem;
    }
}